# importing library

In [2]:
import pandas as pd

# Load your data

In [8]:
path = "data.csv"
df = pd.read_csv("data.csv")

In [9]:
df.head()

,Company,Fiscal Year,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow from Operating Activities
0,Microsoft,2024,236000,73900,411981,198147,88900
1,Microsoft,2023,211915,72136,411981,198147,87076
2,Microsoft,2022,198270,61271,364840,186670,79668
3,Tesla,2023,96774,12586,82833,41661,13410
4,Tesla,2022,81462,12564,82551,40317,11457

## calculate year-over-year changes for each financial metric.

In [13]:
df["Revenue Growth (%)"] = df.groupby(["Company"])["Total Revenue"].pct_change() * 100
df["Net Income Growth (%)"] = df.groupby(["Company"])["Net Income"].pct_change() * 100
df["Total Assets Growth (%)"] = df.groupby(["Company"])["Total Assets"].pct_change() * 100
df["Total Liabilities Growth (%)"] = df.groupby(["Company"])["Total Liabilities"].pct_change() * 100
df["Cash Flow Growth (%)"] = df.groupby(["Company"])["Cash Flow from Operating Activities"].pct_change() * 100

In [14]:
df

,Company,Fiscal Year,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow from Operating Activities,Revenue Growth (%),Net Income Growth (%),Total Assets Growth (%),Total Liabilities Growth (%),Cash Flow Growth (%)
0,Microsoft,2024,236000,73900,411981,198147,88900,NaN,NaN,NaN,NaN,NaN
1,Microsoft,2023,211915,72136,411981,198147,87076,-10.205508,-2.387009,0.000000,0.000000,-2.051744
2,Microsoft,2022,198270,61271,364840,186670,79668,-6.438902,-15.061828,-11.442518,-5.792164,-8.507511
3,Tesla,2023,96774,12586,82833,41661,13410,NaN,NaN,NaN,NaN,NaN
4,Tesla,2022,81462,12564,82551,40317,11457,-15.822432,-0.174797,-0.340444,-3.226039,-14.563758
5,Tesla,2021,53823,5564,62131,31494,5654,-33.928703,-55.714741,-24.736224,-21.884069,-50.650257
6,Apple,2023,394328,97407,352583,302083,111505,NaN,NaN,NaN,NaN,NaN
7,Apple,2022,387538,99803,351002,302083,122151,-1.721917,2.459782,-0.448405,0.000000,9.547554
8,Apple,2021,365817,94680,351002,287491,104038,-5.604870,-5.133112,0.000000,-4.830461,-14.828368

In [15]:
df.to_csv("data1.csv", index=False, sep=";")

#  Aggregate functions and groupings

In [16]:


# Calculate average financial metrics over the years
yearly_avg = df.groupby('Fiscal Year')[['Total Revenue', 'Net Income', 'Total Assets', 'Total Liabilities', 'Cash Flow from Operating Activities']].mean()
print("\nAverage Financial Metrics by Fiscal Year:")
print(yearly_avg)

Average Financial Metrics by Fiscal Year:
             Total Revenue    Net Income   Total Assets  Total Liabilities  \
Fiscal Year
2021         209820.000000  50122.000000  206566.500000      159492.500000
2022         222423.333333  57879.333333  266131.000000      176356.666667
2023         234339.000000  60709.666667  282465.666667      180630.333333
2024         236000.000000  73900.000000  411981.000000      198147.000000

             Cash Flow from Operating Activities
Fiscal Year
2021                                54846.000000
2022                                71092.000000
2023                                70663.666667
2024                                88900.000000

# Calculate total revenue and net income per year per company

In [17]:

total_per_year = df.groupby(['Fiscal Year', 'Company'])[['Total Revenue', 'Net Income']].sum()
print("\nTotal Revenue and Net Income per Year per Company:")
print(total_per_year)

Total Revenue and Net Income per Year per Company:
                       Total Revenue  Net Income
Fiscal Year Company
2021        Apple             365817       94680
            Tesla              53823        5564
2022        Apple             387538       99803
            Microsoft         198270       61271
            Tesla              81462       12564
2023        Apple             394328       97407
            Microsoft         211915       72136
            Tesla              96774       12586
2024        Microsoft         236000       73900

# Summary of Findings




- Microsoft, Tesla, and Apple exhibit different revenue and net income trends over the last three fiscal years.
- The revenue growth trend shows how each company has expanded its business operations.
- Net income trends highlight profitability variations.
- Cash flow growth indicates operational efficiency.
- Average financial metrics over the years provide insights into overall financial health trends.
- Aggregating total revenue and net income per year per company highlights key growth patterns.

This analysis provides insights into financial trends, useful for AI-powered financial chatbots.
"""